@if (isLoading()) {
  <p>Loading categories...</p>
} @else if (hasError()) {
  <p>An error occurred while loading categories.</p>
} @else {
  <main class="category-selector-page">
    <app-category-header
    [viewMode]="viewMode()"
    (viewModeChange)="viewMode.set($event)"
    ></app-category-header>

    <app-category-toolbar
    [search]="search()"
    [selectedGroup]="selectedGroup()"
    [groups]="availableGroups()"
    (searchChange)="search.set($event)"
    (selectedGroupChange)="selectedGroup.set($event)"
    ></app-category-toolbar>

    <section class="category-selector-page__content">
      @if (viewMode() === 'grouped') {
        @for (group of groupedCategories(); track group.groupName) {
          <app-category-group-section
          [section]="group"
          ></app-category-group-section>
        }
      } @else {
        <app-category-list
          [categories]="sortedCategories()"
          [selectedCategory]="selectedCategory()"
          (categorySelection)="onCategorySelection($event)"
          [showGroupBadge]="true"
        ></app-category-list>
      }
    </section>

    <app-category-selection-footer
    [isSelectionDisabled]="!selectedCategory()"
    (validateSelection)="onValidateSelection()"
    ></app-category-selection-footer>
  </main>
}
